<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <title>Log in</title>
</head>

<body>
    <div class="container">
        <h2>Log in to your account</h2>
        <form action="/login" method="post" class="login-form">
            <input type="text" title="username" placeholder="username" />
            <button type="submit" class="button">Log in</button>
        </form>
    </div>
    <a href="/signup">Or Sign Up Here</a>
</body>

</html>