<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <title>{{item}}</title>
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="card-img">
                <a href={{wikipage}}>
                    <img src="{{image}}" class="grow" width="300" height="450">
                </a>
            </div>
            <h4 class="items"><b>{{item}}</b></h4>
            <p>{{genre}}</p>
            <p>{{tagline}}</p>
        </div>
        <div class="movie-comments">
            <div class="comment-bg"></div>
            <div class="comments">
                {%for i in range(0, len)%}
                <p>{{userlist[i]}}: {{commentlist[i]}} <b>{{ratinglist[i]}}</b></p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="comment-container">
        <form action="/leave_rating" method="post">
            <input type="hidden" name="item" value="{{item}}">
            <input type="hidden" name="genre" value="{{genre}}">
            <input type="hidden" name="tagline" value="{{tagline}}">
            <input type="hidden" name="image" value="{{image}}">
            <input type="hidden" name="wikipage" value="{{wikipage}}">
            <textarea rows="5" cols="50" name="comment-box" placeholder="Leave a comment and rating"></textarea>
            <select name="rate">
                {% for i in choice %}
                <option name="rate" value="{{i}}" SELECTED>{{i}}</option>"
                {% endfor %}
            </select>
            <input type="submit" value="submit" class="submit-comment" />
        </form>
    </div>
</body>

</html>