<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <title>Sign Up!</title>
</head>

<body>
    <div class="login-container">
        <h2>Sign up for an account </h2>
        <form action="/signup" method="post" class="signup-form">
            <input type="text" name="username" placeholder="username" />
            <button type="submit" class="button">Sign Up</button>
            <a href="{{ url_for('login') }}">Or Log In Here</a>
        </form>
    </div>
</body>

</html>